In [1]:
import numpy as np
import pandas as pd

States in Nigeria

In [2]:
states= pd.Series(["Abia State", "Adamawa State", "Akwa Ibom State", "Anambra State", "Bauchi State", "Bayelsa State", "Benue State", "Borno State", 
                   "Cross River", "Delta State", "Ebonyi State", "Edo State", "Ekiti State", "Enugu State", "Gombe State", "Imo State", "Jigawa State", 
                   "Kaduna State", "Kano State", "Katsina State", "Kebbi State", "Kogi State", "Kwara State", "Lagos State", "Nasarawa State", 
                   "Niger State", "Ogun State", "Ondo State", "Osun State", "Oyo State", "Plateau State", "Rivers State", "Sokoto State", "Taraba State",
                   "Yobe State", "Zamfara State", "FCT"])
states

0          Abia State
1       Adamawa State
2     Akwa Ibom State
3       Anambra State
4        Bauchi State
5       Bayelsa State
6         Benue State
7         Borno State
8         Cross River
9         Delta State
10       Ebonyi State
11          Edo State
12        Ekiti State
13        Enugu State
14        Gombe State
15          Imo State
16       Jigawa State
17       Kaduna State
18         Kano State
19      Katsina State
20        Kebbi State
21         Kogi State
22        Kwara State
23        Lagos State
24     Nasarawa State
25        Niger State
26         Ogun State
27         Ondo State
28         Osun State
29          Oyo State
30      Plateau State
31       Rivers State
32       Sokoto State
33       Taraba State
34         Yobe State
35      Zamfara State
36                FCT
dtype: object

Land mass in Nigeria

In [3]:
landmass = pd.Series([6320, 36917, 7081, 4844, 45893, 10773, 34059, 70898, 20156, 17698, 6400, 19559, 6353, 13161, 18768, 5530, 23154, 46053, 20131,
                     24192, 36800, 29833, 36825, 3577, 26256, 76363, 16981, 15500, 9251, 28454, 30913, 11077, 25973, 54473, 45502, 39762, 7320])
landmass

0      6320
1     36917
2      7081
3      4844
4     45893
5     10773
6     34059
7     70898
8     20156
9     17698
10     6400
11    19559
12     6353
13    13161
14    18768
15     5530
16    23154
17    46053
18    20131
19    24192
20    36800
21    29833
22    36825
23     3577
24    26256
25    76363
26    16981
27    15500
28     9251
29    28454
30    30913
31    11077
32    25973
33    54473
34    45502
35    39762
36     7320
dtype: int64

STATES AND LAND MASS IN NIGERIA

In [4]:
state_landmass= pd.DataFrame({'STATES':states, 'LAND MASS KMÂ²':landmass })
state_landmass

             STATES  LAND MASS KMÂ²
0        Abia State           6320
1     Adamawa State          36917
2   Akwa Ibom State           7081
3     Anambra State           4844
4      Bauchi State          45893
5     Bayelsa State          10773
6       Benue State          34059
7       Borno State          70898
8       Cross River          20156
9       Delta State          17698
10     Ebonyi State           6400
11        Edo State          19559
12      Ekiti State           6353
13      Enugu State          13161
14      Gombe State          18768
15        Imo State           5530
16     Jigawa State          23154
17     Kaduna State          46053
18       Kano State          20131
19    Katsina State          24192
20      Kebbi State          36800
21       Kogi State          29833
22      Kwara State          36825
23      Lagos State           3577
24   Nasarawa State          26256
25      Niger State          76363
26       Ogun State          16981
27       Ondo State          15500
28       Osun State           9251
29        Oyo State          28454
30    Plateau State          30913
31     Rivers State          11077
32     Sokoto State          25973
33     Taraba State          54473
34       Yobe State          45502
35    Zamfara State          39762
36              FCT           7320

STATE CAPITALS

In [5]:
state_capital=pd.Series(["Umuahia", "Yola", "Uyo", "Awka", "Bauchi", "Yenagoa", "Makurdi", "Maiduguri", "Calabar", "Asaba", "Abakaliki", "Benin City",
                        "Ado - Ekiti", "Enugu", "Gombe", "Owerri", "Dutse", "Kaduna", "Kano", "Katsina", "Birnin Kebbi", "Lokoja", "Ilorin", "Ikeja",
                        "Lafia", "Minna", "Abeokuta", "Akure", "Oshogbo", "Ibadan", "Jos", "Port Harcourt", "Sokoto", "Jalingo", "Damaturu", "Gusau",
                        "Abuja"])
state_capital

0           Umuahia
1              Yola
2               Uyo
3              Awka
4            Bauchi
5           Yenagoa
6           Makurdi
7         Maiduguri
8           Calabar
9             Asaba
10        Abakaliki
11       Benin City
12      Ado - Ekiti
13            Enugu
14            Gombe
15           Owerri
16            Dutse
17           Kaduna
18             Kano
19          Katsina
20     Birnin Kebbi
21           Lokoja
22           Ilorin
23            Ikeja
24            Lafia
25            Minna
26         Abeokuta
27            Akure
28          Oshogbo
29           Ibadan
30              Jos
31    Port Harcourt
32           Sokoto
33          Jalingo
34         Damaturu
35            Gusau
36            Abuja
dtype: object

POPULATION:

In [6]:
population=pd.Series([3841943, 4536948, 4780581, 5599910, 7540663, 2394725, 5787706, 5751590, 4175020, 5307543, 3007155, 4461137, 3350401, 4396098,
                      3623462,5167722, 6779080, 8324285, 14253549, 9300382, 5001610, 4153734, 3259613, 12772884, 2632239, 6220617, 5945275, 4969707,
                      4237396, 7512855, 4400974, 7034973, 5863187, 3331885, 3398177, 5317793, 4025735])
population

0      3841943
1      4536948
2      4780581
3      5599910
4      7540663
5      2394725
6      5787706
7      5751590
8      4175020
9      5307543
10     3007155
11     4461137
12     3350401
13     4396098
14     3623462
15     5167722
16     6779080
17     8324285
18    14253549
19     9300382
20     5001610
21     4153734
22     3259613
23    12772884
24     2632239
25     6220617
26     5945275
27     4969707
28     4237396
29     7512855
30     4400974
31     7034973
32     5863187
33     3331885
34     3398177
35     5317793
36     4025735
dtype: int64

In [7]:
pop_all=pd.DataFrame({"State": states, "Capital": state_capital, "Population": population, "Land Mass KMÂ²": landmass})
pop_all

              State        Capital  Population  Land Mass KMÂ²
0        Abia State        Umuahia     3841943           6320
1     Adamawa State           Yola     4536948          36917
2   Akwa Ibom State            Uyo     4780581           7081
3     Anambra State           Awka     5599910           4844
4      Bauchi State         Bauchi     7540663          45893
5     Bayelsa State        Yenagoa     2394725          10773
6       Benue State        Makurdi     5787706          34059
7       Borno State      Maiduguri     5751590          70898
8       Cross River        Calabar     4175020          20156
9       Delta State          Asaba     5307543          17698
10     Ebonyi State      Abakaliki     3007155           6400
11        Edo State     Benin City     4461137          19559
12      Ekiti State    Ado - Ekiti     3350401           6353
13      Enugu State          Enugu     4396098          13161
14      Gombe State          Gombe     3623462          18768
15        Imo State         Owerri     5167722           5530
16     Jigawa State          Dutse     6779080          23154
17     Kaduna State         Kaduna     8324285          46053
18       Kano State           Kano    14253549          20131
19    Katsina State        Katsina     9300382          24192
20      Kebbi State   Birnin Kebbi     5001610          36800
21       Kogi State         Lokoja     4153734          29833
22      Kwara State         Ilorin     3259613          36825
23      Lagos State          Ikeja    12772884           3577
24   Nasarawa State          Lafia     2632239          26256
25      Niger State          Minna     6220617          76363
26       Ogun State       Abeokuta     5945275          16981
27       Ondo State          Akure     4969707          15500
28       Osun State        Oshogbo     4237396           9251
29        Oyo State         Ibadan     7512855          28454
30    Plateau State            Jos     4400974          30913
31     Rivers State  Port Harcourt     7034973          11077
32     Sokoto State         Sokoto     5863187          25973
33     Taraba State        Jalingo     3331885          54473
34       Yobe State       Damaturu     3398177          45502
35    Zamfara State          Gusau     5317793          39762
36              FCT          Abuja     4025735           7320

In [8]:
pop_rec= pd.DataFrame({"Population": population, "Land Mass KMÂ²": landmass})
ind=pd.Index(states)
pp=pop_rec.set_index(ind)
pp

                 Population  Land Mass KMÂ²
Abia State          3841943           6320
Adamawa State       4536948          36917
Akwa Ibom State     4780581           7081
Anambra State       5599910           4844
Bauchi State        7540663          45893
Bayelsa State       2394725          10773
Benue State         5787706          34059
Borno State         5751590          70898
Cross River         4175020          20156
Delta State         5307543          17698
Ebonyi State        3007155           6400
Edo State           4461137          19559
Ekiti State         3350401           6353
Enugu State         4396098          13161
Gombe State         3623462          18768
Imo State           5167722           5530
Jigawa State        6779080          23154
Kaduna State        8324285          46053
Kano State         14253549          20131
Katsina State       9300382          24192
Kebbi State         5001610          36800
Kogi State          4153734          29833
Kwara State         3259613          36825
Lagos State        12772884           3577
Nasarawa State      2632239          26256
Niger State         6220617          76363
Ogun State          5945275          16981
Ondo State          4969707          15500
Osun State          4237396           9251
Oyo State           7512855          28454
Plateau State       4400974          30913
Rivers State        7034973          11077
Sokoto State        5863187          25973
Taraba State        3331885          54473
Yobe State          3398177          45502
Zamfara State       5317793          39762
FCT                 4025735           7320

POPULATION DENSITY

In [9]:
pp['Density']= pp['Population']/pp['Land Mass KMÂ²']
pp

                 Population  Land Mass KMÂ²      Density
Abia State          3841943           6320   607.902373
Adamawa State       4536948          36917   122.895902
Akwa Ibom State     4780581           7081   675.127948
Anambra State       5599910           4844  1156.050784
Bauchi State        7540663          45893   164.309655
Bayelsa State       2394725          10773   222.289520
Benue State         5787706          34059   169.931765
Borno State         5751590          70898    81.124855
Cross River         4175020          20156   207.135344
Delta State         5307543          17698   299.895073
Ebonyi State        3007155           6400   469.867969
Edo State           4461137          19559   228.086150
Ekiti State         3350401           6353   527.373052
Enugu State         4396098          13161   334.024618
Gombe State         3623462          18768   193.065963
Imo State           5167722           5530   934.488608
Jigawa State        6779080          23154   292.782241
Kaduna State        8324285          46053   180.754457
Kano State         14253549          20131   708.039789
Katsina State       9300382          24192   384.440394
Kebbi State         5001610          36800   135.913315
Kogi State          4153734          29833   139.232863
Kwara State         3259613          36825    88.516307
Lagos State        12772884           3577  3570.837014
Nasarawa State      2632239          26256   100.252856
Niger State         6220617          76363    81.461140
Ogun State          5945275          16981   350.113362
Ondo State          4969707          15500   320.626258
Osun State          4237396           9251   458.047346
Oyo State           7512855          28454   264.035109
Plateau State       4400974          30913   142.366448
Rivers State        7034973          11077   635.097319
Sokoto State        5863187          25973   225.741616
Taraba State        3331885          54473    61.165807
Yobe State          3398177          45502    74.681926
Zamfara State       5317793          39762   133.740581
FCT                 4025735           7320   549.963798

# second assignment

In [10]:
import pandas as pd

In [11]:
data=pd.read_csv('car_scrape4.csv')
data

,title,odometer,location,isimported,engine,transmission,fuel,paint,price,year
0,Toyota Corolla,60127,Lagos,Locally used,4-cylinder(I4),automatic,petrol,Silver,1995000,2009
1,Acura MDX,132908,Lagos,Foreign Used,6-cylinder(V6),automatic,petrol,Whine,3315000,2009
2,Lexus ES 350,120412,Lagos,Locally used,6-cylinder(V6),automatic,petrol,Silver,2355000,2008
3,Mercedes-Benz GLK 350,67640,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Black,9915000,2013
4,Mercedes-Benz E 200,92440,Abuja,Foreign Used,4-cylinder(I4),automatic,petrol,Black,9790000,2013
...,...,...,...,...,...,...,...,...,...,...
3171,Ford Explorer,108597,Abuja,Foreign Used,6-cylinder(V6),automatic,petrol,Black,8675000,2013
3172,Ford Edge,145184,Lagos,Foreign Used,6-cylinder(I6),automatic,petrol,White,4437000,2011
3173,Toyota Camry,88687,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Green,3175000,2011
3174,Toyota Highlander,30951,Lagos,Foreign Used,6-cylinder(V6),automatic,petrol,Silver,17535000,2017
3175,Toyota Camry,12936,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Black,17015000,2018

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3176 entries, 0 to 3175
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         3176 non-null   object
 1   odometer      3176 non-null   int64
 2   location      3176 non-null   object
 3   isimported    3176 non-null   object
 4   engine        3176 non-null   object
 5   transmission  3176 non-null   object
 6   fuel          3176 non-null   object
 7   paint         3176 non-null   object
 8   price         3176 non-null   int64
 9   year          3176 non-null   int64
dtypes: int64(3), object(7)
memory usage: 248.3+ KB

In [13]:
data.describe()

           odometer         price         year
count  3.176000e+03  3.176000e+03  3176.000000
mean   1.160810e+05  8.568732e+06  2008.726071
std    1.175645e+05  1.374352e+07    33.006798
min    0.000000e+00  2.150000e+05  1217.000000
25%    5.281450e+04  2.542500e+06  2006.000000
50%    9.275900e+04  4.195000e+06  2010.000000
75%    1.519730e+05  8.815000e+06  2014.000000
max    1.775588e+06  1.670150e+08  2626.000000

### #compute the sum, mean of the price column on the dataset

In [14]:
data.columns

Index(['title', 'odometer', 'location', 'isimported', 'engine', 'transmission',
       'fuel', 'paint', 'price', 'year'],
      dtype='object')

In [15]:
data['price']

0        1995000
1        3315000
2        2355000
3        9915000
4        9790000
          ...
3171     8675000
3172     4437000
3173     3175000
3174    17535000
3175    17015000
Name: price, Length: 3176, dtype: int64

In [16]:
data.price.max()

167015008

In [17]:
data['price'].min()

215000

In [18]:
data['price']==167015008

0       False
1       False
2       False
3       False
4       False
        ...
3171    False
3172    False
3173    False
3174    False
3175    False
Name: price, Length: 3176, dtype: bool

## to check price of the cars with the maximum values

In [19]:
data[data['price']==167015008 ]

,title,odometer,location,isimported,engine,transmission,fuel,paint,price,year
223,Mercedes-Benz Maybach,6758,Lagos,New,12-cylinder(V12),automatic,petrol,Black,167015008,2019
1676,Mercedes-Benz Maybach,6758,Lagos,New,12-cylinder(V12),automatic,petrol,Black,167015008,2019
3129,Mercedes-Benz Maybach,6758,Lagos,New,12-cylinder(V12),automatic,petrol,Black,167015008,2019

In [20]:
data[data['price']==167015008] [['title', 'price', 'location']]

                      title      price location
223   Mercedes-Benz Maybach  167015008    Lagos
1676  Mercedes-Benz Maybach  167015008    Lagos
3129  Mercedes-Benz Maybach  167015008    Lagos

# to check the cars with the lowest price

In [21]:
data[data['price']==215000]

,title,odometer,location,isimported,engine,transmission,fuel,paint,price,year
601,Volkswagen Golf,200000,Abuja,Locally used,4-cylinder(I4),manual,petrol,Silver,215000,1998

In [22]:
data[data['price']==215000] [['title', 'location', 'year']]

               title location  year
601  Volkswagen Golf    Abuja  1998

In [23]:
data

,title,odometer,location,isimported,engine,transmission,fuel,paint,price,year
0,Toyota Corolla,60127,Lagos,Locally used,4-cylinder(I4),automatic,petrol,Silver,1995000,2009
1,Acura MDX,132908,Lagos,Foreign Used,6-cylinder(V6),automatic,petrol,Whine,3315000,2009
2,Lexus ES 350,120412,Lagos,Locally used,6-cylinder(V6),automatic,petrol,Silver,2355000,2008
3,Mercedes-Benz GLK 350,67640,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Black,9915000,2013
4,Mercedes-Benz E 200,92440,Abuja,Foreign Used,4-cylinder(I4),automatic,petrol,Black,9790000,2013
...,...,...,...,...,...,...,...,...,...,...
3171,Ford Explorer,108597,Abuja,Foreign Used,6-cylinder(V6),automatic,petrol,Black,8675000,2013
3172,Ford Edge,145184,Lagos,Foreign Used,6-cylinder(I6),automatic,petrol,White,4437000,2011
3173,Toyota Camry,88687,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Green,3175000,2011
3174,Toyota Highlander,30951,Lagos,Foreign Used,6-cylinder(V6),automatic,petrol,Silver,17535000,2017
3175,Toyota Camry,12936,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Black,17015000,2018

In [24]:
data=data.drop_duplicates()
data

,title,odometer,location,isimported,engine,transmission,fuel,paint,price,year
0,Toyota Corolla,60127,Lagos,Locally used,4-cylinder(I4),automatic,petrol,Silver,1995000,2009
1,Acura MDX,132908,Lagos,Foreign Used,6-cylinder(V6),automatic,petrol,Whine,3315000,2009
2,Lexus ES 350,120412,Lagos,Locally used,6-cylinder(V6),automatic,petrol,Silver,2355000,2008
3,Mercedes-Benz GLK 350,67640,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Black,9915000,2013
4,Mercedes-Benz E 200,92440,Abuja,Foreign Used,4-cylinder(I4),automatic,petrol,Black,9790000,2013
...,...,...,...,...,...,...,...,...,...,...
3171,Ford Explorer,108597,Abuja,Foreign Used,6-cylinder(V6),automatic,petrol,Black,8675000,2013
3172,Ford Edge,145184,Lagos,Foreign Used,6-cylinder(I6),automatic,petrol,White,4437000,2011
3173,Toyota Camry,88687,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Green,3175000,2011
3174,Toyota Highlander,30951,Lagos,Foreign Used,6-cylinder(V6),automatic,petrol,Silver,17535000,2017
3175,Toyota Camry,12936,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Black,17015000,2018

In [25]:
data['price'].sum()

14909421625

In [26]:
data.reset_index()

,index,title,odometer,location,isimported,engine,transmission,fuel,paint,price,year
0,0,Toyota Corolla,60127,Lagos,Locally used,4-cylinder(I4),automatic,petrol,Silver,1995000,2009
1,1,Acura MDX,132908,Lagos,Foreign Used,6-cylinder(V6),automatic,petrol,Whine,3315000,2009
2,2,Lexus ES 350,120412,Lagos,Locally used,6-cylinder(V6),automatic,petrol,Silver,2355000,2008
3,3,Mercedes-Benz GLK 350,67640,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Black,9915000,2013
4,4,Mercedes-Benz E 200,92440,Abuja,Foreign Used,4-cylinder(I4),automatic,petrol,Black,9790000,2013
...,...,...,...,...,...,...,...,...,...,...,...
1778,3171,Ford Explorer,108597,Abuja,Foreign Used,6-cylinder(V6),automatic,petrol,Black,8675000,2013
1779,3172,Ford Edge,145184,Lagos,Foreign Used,6-cylinder(I6),automatic,petrol,White,4437000,2011
1780,3173,Toyota Camry,88687,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Green,3175000,2011
1781,3174,Toyota Highlander,30951,Lagos,Foreign Used,6-cylinder(V6),automatic,petrol,Silver,17535000,2017
1782,3175,Toyota Camry,12936,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Black,17015000,2018

In [27]:
data.reset_index(drop=True)

,title,odometer,location,isimported,engine,transmission,fuel,paint,price,year
0,Toyota Corolla,60127,Lagos,Locally used,4-cylinder(I4),automatic,petrol,Silver,1995000,2009
1,Acura MDX,132908,Lagos,Foreign Used,6-cylinder(V6),automatic,petrol,Whine,3315000,2009
2,Lexus ES 350,120412,Lagos,Locally used,6-cylinder(V6),automatic,petrol,Silver,2355000,2008
3,Mercedes-Benz GLK 350,67640,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Black,9915000,2013
4,Mercedes-Benz E 200,92440,Abuja,Foreign Used,4-cylinder(I4),automatic,petrol,Black,9790000,2013
...,...,...,...,...,...,...,...,...,...,...
1778,Ford Explorer,108597,Abuja,Foreign Used,6-cylinder(V6),automatic,petrol,Black,8675000,2013
1779,Ford Edge,145184,Lagos,Foreign Used,6-cylinder(I6),automatic,petrol,White,4437000,2011
1780,Toyota Camry,88687,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Green,3175000,2011
1781,Toyota Highlander,30951,Lagos,Foreign Used,6-cylinder(V6),automatic,petrol,Silver,17535000,2017
1782,Toyota Camry,12936,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Black,17015000,2018

## Assignment 4

* Using the datasets above: List_of_local_governments_in_Nigeria.csv and Nigeria_povertyrate_per_local_gov.csv
    1. Merge the dataset together to form a single table.
    2. Remove any redundant columns.
    3. Calculate how population affects poverty rate of each local government.
    4. Arrange each local government accordiing to the order of their poverty rate.
    5. Find the percentage of poverty and sort in ascending order.

In [28]:
data1=pd.read_csv("Nigeria data/list_of_local_government_areas_of_nigeria.csv")
data1

,SNo,Local Government Area,State,Unnamed: 3
0,1,Abadam,Borno State,NaN
1,2,Abaji,FCT,NaN
2,3,Abak,Akwa Ibom State,NaN
3,4,Abakaliki,Ebonyi State,NaN
4,5,Aba North,Abia State,NaN
...,...,...,...,...
771,772,Zing,Taraba State,NaN
772,773,Zurmi,Zamfara State,NaN
773,774,Zuru,Kebbi State,NaN
774,NaN,NaN,NaN,NaN
775,"For more information, kindly visit : www.down...",NaN,NaN,NaN

In [29]:
data2=pd.read_csv("Nigeria data/Nigeria povertyrate per local gov.csv")
data2

,ID_0,ISO,NAME_0,ID_12,NAME_12,ID_23,NAME_23,2014_Popul,Poverty_Ra,2014_Pover,Unnamed: 10
0,163,NGA,Nigeria,1,Abia,1,Aba North,257689,0.017378,9661,NaN
1,163,NGA,Nigeria,1,Abia,2,Aba South,405791,0.094480,16070,NaN
2,163,NGA,Nigeria,1,Abia,3,Arochukw,193250,0.175241,40022,NaN
3,163,NGA,Nigeria,1,Abia,4,Bende,244399,0.129469,39410,NaN
4,163,NGA,Nigeria,1,Abia,5,Ikwuano,139157,0.111351,12145,NaN
...,...,...,...,...,...,...,...,...,...,...,...
770,163,NGA,Nigeria,38,Zamfara,771,Maru,449533,0.502184,227452,NaN
771,163,NGA,Nigeria,38,Zamfara,772,Shinkafi,220070,0.390775,84238,NaN
772,163,NGA,Nigeria,38,Zamfara,773,Talata-Mafara,131298,0.554036,72134,NaN
773,163,NGA,Nigeria,38,Zamfara,774,Tsafe,333706,0.565074,186716,NaN
774,163,NGA,Nigeria,38,Zamfara,775,Zurmi,291140,0.486278,144487,NaN

## removing the useless columns from each dataset

In [30]:
data1.columns

Index(['SNo', 'Local Government Area', 'State', 'Unnamed: 3'], dtype='object')

In [31]:
data1=data1.drop(columns="Unnamed: 3")
data1

,SNo,Local Government Area,State
0,1,Abadam,Borno State
1,2,Abaji,FCT
2,3,Abak,Akwa Ibom State
3,4,Abakaliki,Ebonyi State
4,5,Aba North,Abia State
...,...,...,...
771,772,Zing,Taraba State
772,773,Zurmi,Zamfara State
773,774,Zuru,Kebbi State
774,NaN,NaN,NaN
775,"For more information, kindly visit : www.down...",NaN,NaN

In [32]:
data2.columns

Index(['ID_0', 'ISO', 'NAME_0', 'ID_12', 'NAME_12', 'ID_23', 'NAME_23',
       '2014_Popul', 'Poverty_Ra', '2014_Pover', 'Unnamed: 10'],
      dtype='object')

In [33]:
data2=data2.drop(columns="Unnamed: 10")
data2

,ID_0,ISO,NAME_0,ID_12,NAME_12,ID_23,NAME_23,2014_Popul,Poverty_Ra,2014_Pover
0,163,NGA,Nigeria,1,Abia,1,Aba North,257689,0.017378,9661
1,163,NGA,Nigeria,1,Abia,2,Aba South,405791,0.094480,16070
2,163,NGA,Nigeria,1,Abia,3,Arochukw,193250,0.175241,40022
3,163,NGA,Nigeria,1,Abia,4,Bende,244399,0.129469,39410
4,163,NGA,Nigeria,1,Abia,5,Ikwuano,139157,0.111351,12145
...,...,...,...,...,...,...,...,...,...,...
770,163,NGA,Nigeria,38,Zamfara,771,Maru,449533,0.502184,227452
771,163,NGA,Nigeria,38,Zamfara,772,Shinkafi,220070,0.390775,84238
772,163,NGA,Nigeria,38,Zamfara,773,Talata-Mafara,131298,0.554036,72134
773,163,NGA,Nigeria,38,Zamfara,774,Tsafe,333706,0.565074,186716
774,163,NGA,Nigeria,38,Zamfara,775,Zurmi,291140,0.486278,144487

In [34]:
data1.columns

Index(['SNo', 'Local Government Area', 'State'], dtype='object')

In [35]:
data1[data1['Local Government Area'].isnull()].count()

SNo                      1
Local Government Area    0
State                    0
dtype: int64

## Merginging the two datas on the column which is common to the two

In [36]:
data = pd.merge(data1, data2, how="outer", left_on="Local Government Area", right_on="NAME_23")
data

,SNo,Local Government Area,State,ID_0,ISO,NAME_0,ID_12,NAME_12,ID_23,NAME_23,2014_Popul,Poverty_Ra,2014_Pover
0,1,Abadam,Borno State,163.0,NGA,Nigeria,8.0,Borno,142.0,Abadam,83113.0,0.396480,31093.0
1,2,Abaji,FCT,163.0,NGA,Nigeria,15.0,Federal Capital Territory,276.0,Abaji,60985.0,0.243414,14320.0
2,3,Abak,Akwa Ibom State,163.0,NGA,Nigeria,3.0,Akwa Ibom,39.0,Abak,153585.0,0.227546,33179.0
3,4,Abakaliki,Ebonyi State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Aba North,Abia State,163.0,NGA,Nigeria,1.0,Abia,1.0,Aba North,257689.0,0.017378,9661.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
972,NaN,NaN,NaN,163.0,NGA,Nigeria,37.0,Yobe,746.0,Borsari,156869.0,0.529983,76356.0
973,NaN,NaN,NaN,163.0,NGA,Nigeria,38.0,Zamfara,764.0,Birnin-Magaji/Kiyaw,196961.0,0.539135,108285.0
974,NaN,NaN,NaN,163.0,NGA,Nigeria,38.0,Zamfara,769.0,Kaura-Na,327387.0,0.549805,167428.0
975,NaN,NaN,NaN,163.0,NGA,Nigeria,38.0,Zamfara,773.0,Talata-Mafara,131298.0,0.554036,72134.0
976,NaN,NaN,NaN,163.0,NGA,Nigeria,38.0,Zamfara,774.0,Tsafe,333706.0,0.565074,186716.0

In [37]:
data.columns

Index(['SNo', 'Local Government Area', 'State', 'ID_0', 'ISO', 'NAME_0',
       'ID_12', 'NAME_12', 'ID_23', 'NAME_23', '2014_Popul', 'Poverty_Ra',
       '2014_Pover'],
      dtype='object')

In [38]:
data=data.drop(columns="SNo")
data

,Local Government Area,State,ID_0,ISO,NAME_0,ID_12,NAME_12,ID_23,NAME_23,2014_Popul,Poverty_Ra,2014_Pover
0,Abadam,Borno State,163.0,NGA,Nigeria,8.0,Borno,142.0,Abadam,83113.0,0.396480,31093.0
1,Abaji,FCT,163.0,NGA,Nigeria,15.0,Federal Capital Territory,276.0,Abaji,60985.0,0.243414,14320.0
2,Abak,Akwa Ibom State,163.0,NGA,Nigeria,3.0,Akwa Ibom,39.0,Abak,153585.0,0.227546,33179.0
3,Abakaliki,Ebonyi State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aba North,Abia State,163.0,NGA,Nigeria,1.0,Abia,1.0,Aba North,257689.0,0.017378,9661.0
...,...,...,...,...,...,...,...,...,...,...,...,...
972,NaN,NaN,163.0,NGA,Nigeria,37.0,Yobe,746.0,Borsari,156869.0,0.529983,76356.0
973,NaN,NaN,163.0,NGA,Nigeria,38.0,Zamfara,764.0,Birnin-Magaji/Kiyaw,196961.0,0.539135,108285.0
974,NaN,NaN,163.0,NGA,Nigeria,38.0,Zamfara,769.0,Kaura-Na,327387.0,0.549805,167428.0
975,NaN,NaN,163.0,NGA,Nigeria,38.0,Zamfara,773.0,Talata-Mafara,131298.0,0.554036,72134.0
976,NaN,NaN,163.0,NGA,Nigeria,38.0,Zamfara,774.0,Tsafe,333706.0,0.565074,186716.0

In [39]:
data=data.drop_duplicates()
data

,Local Government Area,State,ID_0,ISO,NAME_0,ID_12,NAME_12,ID_23,NAME_23,2014_Popul,Poverty_Ra,2014_Pover
0,Abadam,Borno State,163.0,NGA,Nigeria,8.0,Borno,142.0,Abadam,83113.0,0.396480,31093.0
1,Abaji,FCT,163.0,NGA,Nigeria,15.0,Federal Capital Territory,276.0,Abaji,60985.0,0.243414,14320.0
2,Abak,Akwa Ibom State,163.0,NGA,Nigeria,3.0,Akwa Ibom,39.0,Abak,153585.0,0.227546,33179.0
3,Abakaliki,Ebonyi State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aba North,Abia State,163.0,NGA,Nigeria,1.0,Abia,1.0,Aba North,257689.0,0.017378,9661.0
...,...,...,...,...,...,...,...,...,...,...,...,...
972,NaN,NaN,163.0,NGA,Nigeria,37.0,Yobe,746.0,Borsari,156869.0,0.529983,76356.0
973,NaN,NaN,163.0,NGA,Nigeria,38.0,Zamfara,764.0,Birnin-Magaji/Kiyaw,196961.0,0.539135,108285.0
974,NaN,NaN,163.0,NGA,Nigeria,38.0,Zamfara,769.0,Kaura-Na,327387.0,0.549805,167428.0
975,NaN,NaN,163.0,NGA,Nigeria,38.0,Zamfara,773.0,Talata-Mafara,131298.0,0.554036,72134.0
976,NaN,NaN,163.0,NGA,Nigeria,38.0,Zamfara,774.0,Tsafe,333706.0,0.565074,186716.0

In [40]:
data=data.dropna(axis="rows", how="any")
data

,Local Government Area,State,ID_0,ISO,NAME_0,ID_12,NAME_12,ID_23,NAME_23,2014_Popul,Poverty_Ra,2014_Pover
0,Abadam,Borno State,163.0,NGA,Nigeria,8.0,Borno,142.0,Abadam,83113.0,0.396480,31093.0
1,Abaji,FCT,163.0,NGA,Nigeria,15.0,Federal Capital Territory,276.0,Abaji,60985.0,0.243414,14320.0
2,Abak,Akwa Ibom State,163.0,NGA,Nigeria,3.0,Akwa Ibom,39.0,Abak,153585.0,0.227546,33179.0
4,Aba North,Abia State,163.0,NGA,Nigeria,1.0,Abia,1.0,Aba North,257689.0,0.017378,9661.0
5,Aba South,Abia State,163.0,NGA,Nigeria,1.0,Abia,2.0,Aba South,405791.0,0.094480,16070.0
...,...,...,...,...,...,...,...,...,...,...,...,...
778,Zango,Katsina State,163.0,NGA,Nigeria,21.0,Katsina,447.0,Zango,217949.0,0.558352,117828.0
780,Zaria,Kaduna State,163.0,NGA,Nigeria,19.0,Kaduna,369.0,Zaria,448419.0,0.122632,21111.0
781,Zing,Taraba State,163.0,NGA,Nigeria,35.0,Taraba,743.0,Zing,113311.0,0.494821,56127.0
782,Zurmi,Zamfara State,163.0,NGA,Nigeria,38.0,Zamfara,775.0,Zurmi,291140.0,0.486278,144487.0
783,Zuru,Kebbi State,163.0,NGA,Nigeria,22.0,Kebbi,468.0,Zuru,159716.0,0.362035,51528.0

In [41]:
data.columns

Index(['Local Government Area', 'State', 'ID_0', 'ISO', 'NAME_0', 'ID_12',
       'NAME_12', 'ID_23', 'NAME_23', '2014_Popul', 'Poverty_Ra',
       '2014_Pover'],
      dtype='object')

In [42]:
data=data.rename(columns={"NAME_0":"COUNTRY", "NAME_12":"STATES", "NAME_23":"LGA", "2014_Popul":"2014_Population", "Poverty_Ra":"Poverty_Rate", "2014_Pover":"2014_Poverty"})
data

,Local Government Area,State,ID_0,ISO,COUNTRY,ID_12,STATES,ID_23,LGA,2014_Population,Poverty_Rate,2014_Poverty
0,Abadam,Borno State,163.0,NGA,Nigeria,8.0,Borno,142.0,Abadam,83113.0,0.396480,31093.0
1,Abaji,FCT,163.0,NGA,Nigeria,15.0,Federal Capital Territory,276.0,Abaji,60985.0,0.243414,14320.0
2,Abak,Akwa Ibom State,163.0,NGA,Nigeria,3.0,Akwa Ibom,39.0,Abak,153585.0,0.227546,33179.0
4,Aba North,Abia State,163.0,NGA,Nigeria,1.0,Abia,1.0,Aba North,257689.0,0.017378,9661.0
5,Aba South,Abia State,163.0,NGA,Nigeria,1.0,Abia,2.0,Aba South,405791.0,0.094480,16070.0
...,...,...,...,...,...,...,...,...,...,...,...,...
778,Zango,Katsina State,163.0,NGA,Nigeria,21.0,Katsina,447.0,Zango,217949.0,0.558352,117828.0
780,Zaria,Kaduna State,163.0,NGA,Nigeria,19.0,Kaduna,369.0,Zaria,448419.0,0.122632,21111.0
781,Zing,Taraba State,163.0,NGA,Nigeria,35.0,Taraba,743.0,Zing,113311.0,0.494821,56127.0
782,Zurmi,Zamfara State,163.0,NGA,Nigeria,38.0,Zamfara,775.0,Zurmi,291140.0,0.486278,144487.0
783,Zuru,Kebbi State,163.0,NGA,Nigeria,22.0,Kebbi,468.0,Zuru,159716.0,0.362035,51528.0

In [43]:
data=data.drop(columns="STATES")
data

,Local Government Area,State,ID_0,ISO,COUNTRY,ID_12,ID_23,LGA,2014_Population,Poverty_Rate,2014_Poverty
0,Abadam,Borno State,163.0,NGA,Nigeria,8.0,142.0,Abadam,83113.0,0.396480,31093.0
1,Abaji,FCT,163.0,NGA,Nigeria,15.0,276.0,Abaji,60985.0,0.243414,14320.0
2,Abak,Akwa Ibom State,163.0,NGA,Nigeria,3.0,39.0,Abak,153585.0,0.227546,33179.0
4,Aba North,Abia State,163.0,NGA,Nigeria,1.0,1.0,Aba North,257689.0,0.017378,9661.0
5,Aba South,Abia State,163.0,NGA,Nigeria,1.0,2.0,Aba South,405791.0,0.094480,16070.0
...,...,...,...,...,...,...,...,...,...,...,...
778,Zango,Katsina State,163.0,NGA,Nigeria,21.0,447.0,Zango,217949.0,0.558352,117828.0
780,Zaria,Kaduna State,163.0,NGA,Nigeria,19.0,369.0,Zaria,448419.0,0.122632,21111.0
781,Zing,Taraba State,163.0,NGA,Nigeria,35.0,743.0,Zing,113311.0,0.494821,56127.0
782,Zurmi,Zamfara State,163.0,NGA,Nigeria,38.0,775.0,Zurmi,291140.0,0.486278,144487.0
783,Zuru,Kebbi State,163.0,NGA,Nigeria,22.0,468.0,Zuru,159716.0,0.362035,51528.0

### Creating The Poverty_Percentage column

In [44]:
data["Poverty_Percentage"]= data["Poverty_Rate"]*100
data

,Local Government Area,State,ID_0,ISO,COUNTRY,ID_12,ID_23,LGA,2014_Population,Poverty_Rate,2014_Poverty,Poverty_Percentage
0,Abadam,Borno State,163.0,NGA,Nigeria,8.0,142.0,Abadam,83113.0,0.396480,31093.0,39.64800
1,Abaji,FCT,163.0,NGA,Nigeria,15.0,276.0,Abaji,60985.0,0.243414,14320.0,24.34140
2,Abak,Akwa Ibom State,163.0,NGA,Nigeria,3.0,39.0,Abak,153585.0,0.227546,33179.0,22.75460
4,Aba North,Abia State,163.0,NGA,Nigeria,1.0,1.0,Aba North,257689.0,0.017378,9661.0,1.73775
5,Aba South,Abia State,163.0,NGA,Nigeria,1.0,2.0,Aba South,405791.0,0.094480,16070.0,9.44801
...,...,...,...,...,...,...,...,...,...,...,...,...
778,Zango,Katsina State,163.0,NGA,Nigeria,21.0,447.0,Zango,217949.0,0.558352,117828.0,55.83520
780,Zaria,Kaduna State,163.0,NGA,Nigeria,19.0,369.0,Zaria,448419.0,0.122632,21111.0,12.26320
781,Zing,Taraba State,163.0,NGA,Nigeria,35.0,743.0,Zing,113311.0,0.494821,56127.0,49.48210
782,Zurmi,Zamfara State,163.0,NGA,Nigeria,38.0,775.0,Zurmi,291140.0,0.486278,144487.0,48.62780
783,Zuru,Kebbi State,163.0,NGA,Nigeria,22.0,468.0,Zuru,159716.0,0.362035,51528.0,36.20350

### Rounding up The poverty_percentage column to 2 decimal place

In [45]:
data["Poverty_Percentage"]=data["Poverty_Percentage"].round(2)
data

,Local Government Area,State,ID_0,ISO,COUNTRY,ID_12,ID_23,LGA,2014_Population,Poverty_Rate,2014_Poverty,Poverty_Percentage
0,Abadam,Borno State,163.0,NGA,Nigeria,8.0,142.0,Abadam,83113.0,0.396480,31093.0,39.65
1,Abaji,FCT,163.0,NGA,Nigeria,15.0,276.0,Abaji,60985.0,0.243414,14320.0,24.34
2,Abak,Akwa Ibom State,163.0,NGA,Nigeria,3.0,39.0,Abak,153585.0,0.227546,33179.0,22.75
4,Aba North,Abia State,163.0,NGA,Nigeria,1.0,1.0,Aba North,257689.0,0.017378,9661.0,1.74
5,Aba South,Abia State,163.0,NGA,Nigeria,1.0,2.0,Aba South,405791.0,0.094480,16070.0,9.45
...,...,...,...,...,...,...,...,...,...,...,...,...
778,Zango,Katsina State,163.0,NGA,Nigeria,21.0,447.0,Zango,217949.0,0.558352,117828.0,55.84
780,Zaria,Kaduna State,163.0,NGA,Nigeria,19.0,369.0,Zaria,448419.0,0.122632,21111.0,12.26
781,Zing,Taraba State,163.0,NGA,Nigeria,35.0,743.0,Zing,113311.0,0.494821,56127.0,49.48
782,Zurmi,Zamfara State,163.0,NGA,Nigeria,38.0,775.0,Zurmi,291140.0,0.486278,144487.0,48.63
783,Zuru,Kebbi State,163.0,NGA,Nigeria,22.0,468.0,Zuru,159716.0,0.362035,51528.0,36.20

### Aranging the data based on ascending order

In [46]:
poverty_percent = data.copy()
poverty_percent.sort_values(by="Poverty_Percentage", ascending=True, inplace=True)
poverty_percent

,Local Government Area,State,ID_0,ISO,COUNTRY,ID_12,ID_23,LGA,2014_Population,Poverty_Rate,2014_Poverty,Poverty_Percentage
222,Fagge,Kano State,163.0,NGA,Nigeria,20.0,381.0,Fagge,859163.0,0.004566,4250.0,0.46
692,Sokoto North,Sokoto State,163.0,NGA,Nigeria,34.0,720.0,Sokoto North,246991.0,0.009919,1496.0,0.99
746,Uvwie,Delta State,163.0,NGA,Nigeria,10.0,208.0,Uvwie,289312.0,0.016641,4621.0,1.66
4,Aba North,Abia State,163.0,NGA,Nigeria,1.0,1.0,Aba North,257689.0,0.017378,9661.0,1.74
106,Bida,Niger State,163.0,NGA,Nigeria,27.0,541.0,Bida,240860.0,0.018769,5264.0,1.88
...,...,...,...,...,...,...,...,...,...,...,...,...
583,Ohaozara,Ebonyi State,163.0,NGA,Nigeria,11.0,222.0,Ohaozara,167245.0,0.842780,140108.0,84.28
220,Ezza North,Ebonyi State,163.0,NGA,Nigeria,11.0,216.0,Ezza North,158054.0,0.844616,131690.0,84.46
584,Ohaukwu,Ebonyi State,163.0,NGA,Nigeria,11.0,223.0,Ohaukwu,253736.0,0.862090,220785.0,86.21
221,Ezza South,Ebonyi State,163.0,NGA,Nigeria,11.0,217.0,Ezza South,168892.0,0.903956,151608.0,90.40
340,Ikwo,Ebonyi State,163.0,NGA,Nigeria,11.0,218.0,Ikwo,215257.0,0.914384,197512.0,91.44

### Reseting the index

In [47]:
poverty_percent.reset_index(drop=True)

,Local Government Area,State,ID_0,ISO,COUNTRY,ID_12,ID_23,LGA,2014_Population,Poverty_Rate,2014_Poverty,Poverty_Percentage
0,Fagge,Kano State,163.0,NGA,Nigeria,20.0,381.0,Fagge,859163.0,0.004566,4250.0,0.46
1,Sokoto North,Sokoto State,163.0,NGA,Nigeria,34.0,720.0,Sokoto North,246991.0,0.009919,1496.0,0.99
2,Uvwie,Delta State,163.0,NGA,Nigeria,10.0,208.0,Uvwie,289312.0,0.016641,4621.0,1.66
3,Aba North,Abia State,163.0,NGA,Nigeria,1.0,1.0,Aba North,257689.0,0.017378,9661.0,1.74
4,Bida,Niger State,163.0,NGA,Nigeria,27.0,541.0,Bida,240860.0,0.018769,5264.0,1.88
...,...,...,...,...,...,...,...,...,...,...,...,...
590,Ohaozara,Ebonyi State,163.0,NGA,Nigeria,11.0,222.0,Ohaozara,167245.0,0.842780,140108.0,84.28
591,Ezza North,Ebonyi State,163.0,NGA,Nigeria,11.0,216.0,Ezza North,158054.0,0.844616,131690.0,84.46
592,Ohaukwu,Ebonyi State,163.0,NGA,Nigeria,11.0,223.0,Ohaukwu,253736.0,0.862090,220785.0,86.21
593,Ezza South,Ebonyi State,163.0,NGA,Nigeria,11.0,217.0,Ezza South,168892.0,0.903956,151608.0,90.40
594,Ikwo,Ebonyi State,163.0,NGA,Nigeria,11.0,218.0,Ikwo,215257.0,0.914384,197512.0,91.44

In [48]:
poverty_percent.info()

<class 'pandas.core.frame.DataFrame'>
Index: 595 entries, 222 to 340
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Local Government Area  595 non-null    object
 1   State                  595 non-null    object
 2   ID_0                   595 non-null    float64
 3   ISO                    595 non-null    object
 4   COUNTRY                595 non-null    object
 5   ID_12                  595 non-null    float64
 6   ID_23                  595 non-null    float64
 7   LGA                    595 non-null    object
 8   2014_Population        595 non-null    float64
 9   Poverty_Rate           595 non-null    float64
 10  2014_Poverty           595 non-null    float64
 11  Poverty_Percentage     595 non-null    float64
dtypes: float64(7), object(5)
memory usage: 60.4+ KB

In [49]:
# correla= poverty_percent.corr(method='spearman')
correlation = poverty_percent['Poverty_Rate'].corr(poverty_percent['2014_Population'])
correlation

-0.1734171964129478

    * The corr() method computes the Pearson correlation coefficient by default, which measures the linear relationship between two variables. The correlation coefficient ranges from -1 to 1, where:    
    
1 indicates a perfect positive linear relationship    ,
0 indicates no linear relationship, a    nd
-1 indicates a perfect negative linear relationsh    ip.
Positive correlation means that as one variable increases, the other variable also tends to increase, while negative correlation means that as one variable increases, the other variable tends to decre    a    se.

After obtaining the correlation coefficient, you can interpret the relationship between the Poverty_Rate and 2014_Population variables based on its value.

## NEW ASSIGNMENT

Assignment 6
    
Using the Melbourne_housing_FULL.csv
    
    1. Extract for the dataset where price column is not null into another variable
    2. Based on the new variable, clean the data to ensure no more NAN on the dataset by applyiing the following:
    ** Delete unuseful columns from the dataset
    ** Use the number of rooms column to fill the missing number of Bedroom2
    ** Use the number of Bedroom2 to fill th missing number of Bathroom
    ** Using this same logic, look for a column that have close relationship with another column with missing number and use it to fill for the missing values in the column
    c. Show in a table, how Bedroom2 and landsize affect the price of the house.
    d. Also, show how BuildingArea and Yearbuit affect the price of the house
    e. In table1, show the sum and median of the price of house based on Bedroom2.

In [50]:
import pandas as pd
import numpy as np

In [61]:
data= pd.read_csv('Melbourne_housing_FULL.csv')
data

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,...,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,...,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [63]:
data[['Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2']].head(50)

,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2
0,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,2.0
1,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0
2,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0
3,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,3.0
4,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0
5,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0
6,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0
7,4,h,NaN,SN,Nelson,6/08/2016,2.5,3067.0,3.0
8,2,h,NaN,S,Biggin,6/08/2016,2.5,3067.0,4.0
9,2,h,NaN,S,Collins,6/08/2016,2.5,3067.0,3.0
10,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067.0,2.0
11,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,4.0
12,2,u,NaN,PI,Biggin,7/11/2016,2.5,3067.0,2.0
13,4,h,NaN,W,Biggin,7/11/2016,2.5,3067.0,6.0
14,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,2.0
15,3,h,1000000.0,S,Jellis,8/10/2016,2.5,3067.0,NaN
16,2,t,745000.0,S,Jellis,8/10/2016,2.5,3067.0,NaN
17,1,u,300000.0,S,Biggin,8/10/2016,2.5,3067.0,1.0
18,2,h,1097000.0,S,Biggin,8/10/2016,2.5,3067.0,3.0
19,2,u,542000.0,S,Dingle,8/10/2016,2.5,3067.0,NaN
20,2,h,NaN,SP,Biggin,10/12/2016,2.5,3067.0,2.0
21,2,u,760000.0,SP,Biggin,10/12/2016,2.5,3067.0,NaN
22,1,u,481000.0,SP,Purplebricks,10/12/2016,2.5,3067.0,NaN
23,2,u,700000.0,VB,Jellis,12/11/2016,2.5,3067.0,2.0
24,3,h,1350000.0,VB,Nelson,12/11/2016,2.5,3067.0,3.0
25,2,u,750000.0,S,Biggin,12/11/2016,2.5,3067.0,2.0
26,4,h,1985000.0,S,Biggin,12/11/2016,2.5,3067.0,NaN
27,1,u,500000.0,S,Biggin,12/11/2016,2.5,3067.0,NaN
28,2,h,1172500.0,S,Biggin,13/08/2016,2.5,3067.0,2.0
29,1,u,441000.0,SP,Greg,14/05/2016,2.5,3067.0,1.0
30,2,h,1310000.0,S,Jellis,15/10/2016,2.5,3067.0,2.0
31,3,u,NaN,PI,Philip,16/04/2016,2.5,3067.0,3.0
32,3,h,1200000.0,S,Jellis,16/07/2016,2.5,3067.0,3.0
33,2,t,847000.0,S,Jellis,16/07/2016,2.5,3067.0,NaN
34,2,h,NaN,PI,Biggin,16/07/2016,2.5,3067.0,NaN
35,3,h,1176500.0,S,LITTLE,16/07/2016,2.5,3067.0,2.0
36,3,h,955000.0,S,Collins,17/09/2016,2.5,3067.0,3.0
37,2,h,890000.0,S,Biggin,17/09/2016,2.5,3067.0,2.0
38,4,h,1330000.0,PI,Kay,18/03/2017,2.5,3067.0,4.0
39,3,h,NaN,SP,Nelson,18/03/2017,2.5,3067.0,3.0
40,3,t,900000.0,S,Beller,18/03/2017,2.5,3067.0,3.0
41,3,u,1090000.0,S,Jellis,18/03/2017,2.5,3067.0,3.0
42,2,u,500000.0,S,Collins,18/06/2016,2.5,3067.0,2.0
43,2,h,1100000.0,PI,Biggin,18/06/2016,2.5,3067.0,2.0
44,2,h,1315000.0,S,Marshall,19/11/2016,2.5,3067.0,2.0
45,1,u,480000.0,S,Biggin,19/11/2016,2.5,3067.0,NaN
46,1,u,423500.0,S,hockingstuart,22/05/2016,2.5,3067.0,NaN
47,4,h,NaN,PI,Biggin,22/05/2016,2.5,3067.0,NaN
48,1,u,426000.0,SP,Greg,22/08/2016,2.5,3067.0,1.0
49,3,h,1447500.0,PI,Nelson,22/08/2016,2.5,3067.0,3.0

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

#### 1. Extract for the dataset where price column is not null into another variable

In [64]:
data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [66]:
data1=data[data["Price"].notnull()]
data1.head(50)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra City Council,-37.7969,144.9969,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra City Council,-37.8072,144.9941,Northern Metropolitan,4019.0
10,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067.0,...,1.0,0.0,181.0,NaN,NaN,Yarra City Council,-37.8041,144.9953,Northern Metropolitan,4019.0
11,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra City Council,-37.8024,144.9993,Northern Metropolitan,4019.0
14,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra City Council,-37.8060,144.9954,Northern Metropolitan,4019.0
15,Abbotsford,217 Langridge St,3,h,1000000.0,S,Jellis,8/10/2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
16,Abbotsford,18a Mollison St,2,t,745000.0,S,Jellis,8/10/2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
17,Abbotsford,6/241 Nicholson St,1,u,300000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8008,144.9973,Northern Metropolitan,4019.0
18,Abbotsford,10 Valiant St,2,h,1097000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,2.0,220.0,75.0,1900.0,Yarra City Council,-37.8010,144.9989,Northern Metropolitan,4019.0
19,Abbotsford,403/609 Victoria St,2,u,542000.0,S,Dingle,8/10/2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
21,Abbotsford,25/84 Trenerry Cr,2,u,760000.0,SP,Biggin,10/12/2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
22,Abbotsford,106/119 Turner St,1,u,481000.0,SP,Purplebricks,10/12/2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
23,Abbotsford,411/8 Grosvenor St,2,u,700000.0,VB,Jellis,12/11/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8110,145.0067,Northern Metropolitan,4019.0
24,Abbotsford,40 Nicholson St,3,h,1350000.0,VB,Nelson,12/11/2016,2.5,3067.0,...,2.0,2.0,214.0,190.0,2005.0,Yarra City Council,-37.8085,144.9964,Northern Metropolitan,4019.0
25,Abbotsford,123/56 Nicholson St,2,u,750000.0,S,Biggin,12/11/2016,2.5,3067.0,...,2.0,1.0,0.0,94.0,2009.0,Yarra City Council,-37.8078,144.9965,Northern Metropolitan,4019.0
26,Abbotsford,22 Park St,4,h,1985000.0,S,Biggin,12/11/2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,Yarra City Council,-37.8084,144.9942,Northern Metropolitan,4019.0
27,Abbotsford,13/84 Trenerry Cr,1,u,500000.0,S,Biggin,12/11/2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
28,Abbotsford,45 William St,2,h,1172500.0,S,Biggin,13/08/2016,2.5,3067.0,...,1.0,1.0,195.0,NaN,NaN,Yarra City Council,-37.8084,144.9973,Northern Metropolitan,4019.0
29,Abbotsford,7/20 Abbotsford St,1,u,441000.0,SP,Greg,14/05/2016,2.5,3067.0,...,1.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8016,144.9988,Northern Metropolitan,4019.0
30,Abbotsford,16 William St,2,h,1310000.0,S,Jellis,15/10/2016,2.5,3067.0,...,1.0,2.0,238.0,97.0,1890.0,Yarra City Council,-37.8090,144.9976,Northern Metropolitan,4019.0
32,Abbotsford,42 Henry St,3,h,1200000.0,S,Jellis,16/07/2016,2.5,3067.0,...,2.0,1.0,113.0,110.0,1880.0,Yarra City Council,-37.8056,144.9930,Northern Metropolitan,4019.0
33,Abbotsford,250 Langridge St,2,t,847000.0,S,Jellis,16/07/2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
35,Abbotsford,78 Yarra St,3,h,1176500.0,S,LITTLE,16/07/2016,2.5,3067.0,...,1.0,1.0,138.0,105.0,1890.0,Yarra City Council,-37.8021,144.9965,Northern Metropolitan,4019.0
36,Abbotsford,196 Nicholson St,3,h,955000.0,S,Collins,17/09/2016,2.5,3067.0,...,1.0,0.0,183.0,NaN,NaN,Yarra City Council,-37.8022,144.9975,Northern Metropolitan,4019.0
37,Abbotsford,42 Valiant St,2,h,890000.0,S,Biggin,17/09/2016,2.5,3067.0,...,1.0,1.0,150.0,73.0,1985.0,Yarra City Council,-37.8011,145.0004,Northern Metropolitan,4019.0
38,Abbotsford,3/72 Charles St,4,h,1330000.0,PI,Kay,18/03/2017,2.5,3067.0,...,2.0,2.0,780.0,135.0,1900.0,Yarra City Council,-37.8073,144.9952,Northern Metropolitan,4019.0
40,Abbotsford,13/11 Nicholson St,3,t,900000.0,S,Beller,18/03/2017,2.5,3067.0,...,2.0,2.0,0.0,NaN,2010.0,Yarra City Council,-37.8093,144.9959,Northern Metropolitan,4019.0
41,Abbotsford,138/56 Nicholson St,3,u,1090000.0,S,Jellis,18/03/2017,2.5,3067.0,...,2.0,2.0,4290.0,27.0,NaN,Yarra City Council,-37.8078,144.9965,Northern Metropolitan,4019.0
42,Abbotsford,6/219 Nicholson St,2,u,500000.0,S,Collins,18/06/2016,2.5,3067.0,...,1.0,1.0,0.0,60.0,1970.0,Yarra City Council,-37.8015,144.9972,Northern Metropolitan,4019.0
43,Abbotsford,52a William St,2,h,1100000.0,PI,Biggin,18/06/2016,2.5,3067.0,...,2.0,1.0,124.0,135.0,2013.0,Yarra City Council,-37.8079,144.9977,Northern Metropolitan,4019.0
44,Abbotsford,49 Park St,2,h,1315000.0,S,Marshall,19/11/2016,2.5,3067.0,...,1.0,0.0,147.0,85.0,1900.0,Yarra City Council,-37.8080,144.9940,Northern Metropolitan,4019.0
45,Abbotsford,65/80 Trenerry Cr,1,u,480000.0,S,Biggin,19/11/2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
46,Abbotsford,119/52 Nicholson St,1,u,423500.0,S,hockingstuart,22/05/2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
48,Abbotsford,5/20 Abbotsford St,1,u,426000.0,SP,Greg,22/08/2016,2.5,3067.0,...,1.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8016,144.9988,Northern Metropolitan,4019.0
49,Abbotsford,48 Abbotsford St,3,h,1447500.0,PI,Nelson,22/08/2016,2.5,3067.0,...,3.0,1.0,166.0,174.0,2012.0,Yarra City Council,-37.8017,145.0001,Northern Metropolitan,4019.0
50,Abbotsford,116/56 Nicholson St,1,u,457000.0,S,Jellis,22/08/2016,2.5,3067.0,...,1.0,1.0,0.0,50.0,NaN,Yarra City Council,-37.8078,144.9965,Northern Metropolitan,4019.0
51,Abbotsford,159 Park St,2,h,1135000.0,S,Nelson,22/08/2016,2.5,3067.0,...,2.0,2.0,98.0,128.0,1920.0,Yarra City Council,-37.8005,144.9952,Northern Metropolitan,4019.0
52,Abbotsford,49/84 Trenerry Cr,2,h,700000.0,S,Biggin,23/04/2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
53,Abbotsford,31 Turner St,4,h,1542000.0,S,Collins,24/09/2016,2.5,3067.0,...,3.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.7994,144.9965,Northern Metropolitan,4019.0
54,Abbotsford,17/1 Abbot St,3,t,962000.0,SP,Jellis,25/02/2017,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,Yarra City Council,-37.7972,144.9969,Northern Metropolitan,4019.0
55,Abbotsford,166 Gipps St,3,h,1290000.0,S,Biggin,25/02/2017,2.5,3067.0,...,2.0,2.0,147.0,18.0,NaN,Yarra City Council,-37.8050,144.9943,Northern Metropolitan,4019.0
56,Abbotsford,60 Stafford St,3,h,1290000.0,S,Biggin,25/02/2017,2.5,3067.0,...,1.0,1.0,168.0,124.0,1950.0,Yarra City Council,-37.8007,144.9958,Northern Metropolitan,4019.0
57,Abbotsford,11/205 Gipps St,1,u,470000.0,S,Nelson,26/07/2016,2.5,3067.0,...,1.0,1.0,0.0,50.0,2013.0,Yarra City Council,-37.8055,144.9961,Northern Metropolitan,4019.0
58,Abbotsford,47 Studley St,2,h,1180000.0,S,Jellis,27/11/2016,2.5,3067.0,...,1.0,0.0,162.0,91.0,1900.0,Yarra City Council,-37.8016,144.9956,Northern Metropolitan,4019.0
59,Abbotsford,45 Yarra St,3,h,1195000.0,SP,Jellis,27/11/2016,2.5,3067.0,...,2.0,1.0,120.0,128.0,1998.0,Yarra City Council,-37.8022,144.9954,Northern Metropolitan,4019.0
61,Abbotsford,200 Nicholson St,2,h,1012500.0,S,Nelson,28/05/2016,2.5,3067.0,...,1.0,0.0,182.0,82.0,1900.0,Yarra City Council,-37.8021,144.9976,Northern Metropolitan,4019.0
62,Abbotsford,82/84 Trenerry Cr,2,u,970000.0,SP,Biggin,28/05/2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0

#### 2. Based on the new variable, clean the data to ensure no more NAN on the dataset by applyiing the following:* Delete unuseful columns from the dataset
* Use the number of rooms column to fill the missing number of Bedroom2
* Use the number of Bedroom2 to fill th missing number of Bathroom
* Using this same logic, look for a column that have close relationship with another column with missing number and use it to fill for the missing values in the column #lumn

In [55]:
data1.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [67]:
data1=data1.dropna(axis=1, how="all")
data1

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra City Council,-37.79690,144.99690,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra City Council,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,...,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,...,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [57]:
data1.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [60]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27247 entries, 1 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         27247 non-null  object
 1   Address        27247 non-null  object
 2   Rooms          27247 non-null  int64
 3   Type           27247 non-null  object
 4   Price          27247 non-null  float64
 5   Method         27247 non-null  object
 6   SellerG        27247 non-null  object
 7   Date           27247 non-null  object
 8   Distance       27246 non-null  float64
 9   Postcode       27246 non-null  float64
 10  Bedroom2       27247 non-null  float64
 11  Bathroom       20800 non-null  float64
 12  Car            20423 non-null  float64
 13  Landsize       17982 non-null  float64
 14  BuildingArea   10656 non-null  float64
 15  YearBuilt      12084 non-null  float64
 16  CouncilArea    27244 non-null  object
 17  Lattitude      20993 non-null  float64
 18  Longtitude     20993 non-null  float64
 19  Regionname     27244 non-null  object
 20  Propertycount  27244 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 4.6+ MB

###### 2b.Use the number of rooms column to fill the missing number of Bedroom2

In [68]:
data1['Bedroom2'].fillna(data1['Rooms'],inplace=True)
data1[['Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2']].head(50)

,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2
1,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0
2,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0
4,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0
5,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0
6,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0
10,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067.0,2.0
11,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,4.0
14,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,2.0
15,3,h,1000000.0,S,Jellis,8/10/2016,2.5,3067.0,3.0
16,2,t,745000.0,S,Jellis,8/10/2016,2.5,3067.0,2.0
17,1,u,300000.0,S,Biggin,8/10/2016,2.5,3067.0,1.0
18,2,h,1097000.0,S,Biggin,8/10/2016,2.5,3067.0,3.0
19,2,u,542000.0,S,Dingle,8/10/2016,2.5,3067.0,2.0
21,2,u,760000.0,SP,Biggin,10/12/2016,2.5,3067.0,2.0
22,1,u,481000.0,SP,Purplebricks,10/12/2016,2.5,3067.0,1.0
23,2,u,700000.0,VB,Jellis,12/11/2016,2.5,3067.0,2.0
24,3,h,1350000.0,VB,Nelson,12/11/2016,2.5,3067.0,3.0
25,2,u,750000.0,S,Biggin,12/11/2016,2.5,3067.0,2.0
26,4,h,1985000.0,S,Biggin,12/11/2016,2.5,3067.0,4.0
27,1,u,500000.0,S,Biggin,12/11/2016,2.5,3067.0,1.0
28,2,h,1172500.0,S,Biggin,13/08/2016,2.5,3067.0,2.0
29,1,u,441000.0,SP,Greg,14/05/2016,2.5,3067.0,1.0
30,2,h,1310000.0,S,Jellis,15/10/2016,2.5,3067.0,2.0
32,3,h,1200000.0,S,Jellis,16/07/2016,2.5,3067.0,3.0
33,2,t,847000.0,S,Jellis,16/07/2016,2.5,3067.0,2.0
35,3,h,1176500.0,S,LITTLE,16/07/2016,2.5,3067.0,2.0
36,3,h,955000.0,S,Collins,17/09/2016,2.5,3067.0,3.0
37,2,h,890000.0,S,Biggin,17/09/2016,2.5,3067.0,2.0
38,4,h,1330000.0,PI,Kay,18/03/2017,2.5,3067.0,4.0
40,3,t,900000.0,S,Beller,18/03/2017,2.5,3067.0,3.0
41,3,u,1090000.0,S,Jellis,18/03/2017,2.5,3067.0,3.0
42,2,u,500000.0,S,Collins,18/06/2016,2.5,3067.0,2.0
43,2,h,1100000.0,PI,Biggin,18/06/2016,2.5,3067.0,2.0
44,2,h,1315000.0,S,Marshall,19/11/2016,2.5,3067.0,2.0
45,1,u,480000.0,S,Biggin,19/11/2016,2.5,3067.0,1.0
46,1,u,423500.0,S,hockingstuart,22/05/2016,2.5,3067.0,1.0
48,1,u,426000.0,SP,Greg,22/08/2016,2.5,3067.0,1.0
49,3,h,1447500.0,PI,Nelson,22/08/2016,2.5,3067.0,3.0
50,1,u,457000.0,S,Jellis,22/08/2016,2.5,3067.0,1.0
51,2,h,1135000.0,S,Nelson,22/08/2016,2.5,3067.0,2.0
52,2,h,700000.0,S,Biggin,23/04/2016,2.5,3067.0,2.0
53,4,h,1542000.0,S,Collins,24/09/2016,2.5,3067.0,4.0
54,3,t,962000.0,SP,Jellis,25/02/2017,2.5,3067.0,3.0
55,3,h,1290000.0,S,Biggin,25/02/2017,2.5,3067.0,3.0
56,3,h,1290000.0,S,Biggin,25/02/2017,2.5,3067.0,3.0
57,1,u,470000.0,S,Nelson,26/07/2016,2.5,3067.0,1.0
58,2,h,1180000.0,S,Jellis,27/11/2016,2.5,3067.0,2.0
59,3,h,1195000.0,SP,Jellis,27/11/2016,2.5,3067.0,3.0
61,2,h,1012500.0,S,Nelson,28/05/2016,2.5,3067.0,2.0
62,2,u,970000.0,SP,Biggin,28/05/2016,2.5,3067.0,2.0

#### 2c.Use the number of Bedroom2 to fill th missing number of Bathroom

In [69]:
data1.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [71]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27247 entries, 1 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         27247 non-null  object
 1   Address        27247 non-null  object
 2   Rooms          27247 non-null  int64
 3   Type           27247 non-null  object
 4   Price          27247 non-null  float64
 5   Method         27247 non-null  object
 6   SellerG        27247 non-null  object
 7   Date           27247 non-null  object
 8   Distance       27246 non-null  float64
 9   Postcode       27246 non-null  float64
 10  Bedroom2       27247 non-null  float64
 11  Bathroom       20800 non-null  float64
 12  Car            20423 non-null  float64
 13  Landsize       17982 non-null  float64
 14  BuildingArea   10656 non-null  float64
 15  YearBuilt      12084 non-null  float64
 16  CouncilArea    27244 non-null  object
 17  Lattitude      20993 non-null  float64
 18  Longtitude     20993 non-null  float64
 19  Regionname     27244 non-null  object
 20  Propertycount  27244 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 4.6+ MB

In [72]:
data1['Bathroom'].fillna(data1['Bedroom2'],inplace=True)
data1[['Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2']].head(50)

,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2
1,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0
2,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0
4,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0
5,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0
6,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0
10,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067.0,2.0
11,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,4.0
14,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,2.0
15,3,h,1000000.0,S,Jellis,8/10/2016,2.5,3067.0,3.0
16,2,t,745000.0,S,Jellis,8/10/2016,2.5,3067.0,2.0
17,1,u,300000.0,S,Biggin,8/10/2016,2.5,3067.0,1.0
18,2,h,1097000.0,S,Biggin,8/10/2016,2.5,3067.0,3.0
19,2,u,542000.0,S,Dingle,8/10/2016,2.5,3067.0,2.0
21,2,u,760000.0,SP,Biggin,10/12/2016,2.5,3067.0,2.0
22,1,u,481000.0,SP,Purplebricks,10/12/2016,2.5,3067.0,1.0
23,2,u,700000.0,VB,Jellis,12/11/2016,2.5,3067.0,2.0
24,3,h,1350000.0,VB,Nelson,12/11/2016,2.5,3067.0,3.0
25,2,u,750000.0,S,Biggin,12/11/2016,2.5,3067.0,2.0
26,4,h,1985000.0,S,Biggin,12/11/2016,2.5,3067.0,4.0
27,1,u,500000.0,S,Biggin,12/11/2016,2.5,3067.0,1.0
28,2,h,1172500.0,S,Biggin,13/08/2016,2.5,3067.0,2.0
29,1,u,441000.0,SP,Greg,14/05/2016,2.5,3067.0,1.0
30,2,h,1310000.0,S,Jellis,15/10/2016,2.5,3067.0,2.0
32,3,h,1200000.0,S,Jellis,16/07/2016,2.5,3067.0,3.0
33,2,t,847000.0,S,Jellis,16/07/2016,2.5,3067.0,2.0
35,3,h,1176500.0,S,LITTLE,16/07/2016,2.5,3067.0,2.0
36,3,h,955000.0,S,Collins,17/09/2016,2.5,3067.0,3.0
37,2,h,890000.0,S,Biggin,17/09/2016,2.5,3067.0,2.0
38,4,h,1330000.0,PI,Kay,18/03/2017,2.5,3067.0,4.0
40,3,t,900000.0,S,Beller,18/03/2017,2.5,3067.0,3.0
41,3,u,1090000.0,S,Jellis,18/03/2017,2.5,3067.0,3.0
42,2,u,500000.0,S,Collins,18/06/2016,2.5,3067.0,2.0
43,2,h,1100000.0,PI,Biggin,18/06/2016,2.5,3067.0,2.0
44,2,h,1315000.0,S,Marshall,19/11/2016,2.5,3067.0,2.0
45,1,u,480000.0,S,Biggin,19/11/2016,2.5,3067.0,1.0
46,1,u,423500.0,S,hockingstuart,22/05/2016,2.5,3067.0,1.0
48,1,u,426000.0,SP,Greg,22/08/2016,2.5,3067.0,1.0
49,3,h,1447500.0,PI,Nelson,22/08/2016,2.5,3067.0,3.0
50,1,u,457000.0,S,Jellis,22/08/2016,2.5,3067.0,1.0
51,2,h,1135000.0,S,Nelson,22/08/2016,2.5,3067.0,2.0
52,2,h,700000.0,S,Biggin,23/04/2016,2.5,3067.0,2.0
53,4,h,1542000.0,S,Collins,24/09/2016,2.5,3067.0,4.0
54,3,t,962000.0,SP,Jellis,25/02/2017,2.5,3067.0,3.0
55,3,h,1290000.0,S,Biggin,25/02/2017,2.5,3067.0,3.0
56,3,h,1290000.0,S,Biggin,25/02/2017,2.5,3067.0,3.0
57,1,u,470000.0,S,Nelson,26/07/2016,2.5,3067.0,1.0
58,2,h,1180000.0,S,Jellis,27/11/2016,2.5,3067.0,2.0
59,3,h,1195000.0,SP,Jellis,27/11/2016,2.5,3067.0,3.0
61,2,h,1012500.0,S,Nelson,28/05/2016,2.5,3067.0,2.0
62,2,u,970000.0,SP,Biggin,28/05/2016,2.5,3067.0,2.0

#### 2d.Using this same logic, look for a column that have close relationship with another column with missing number and use it to fill for the missing values in the column

In [73]:
data1.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [82]:
data1[['Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount']].info()

<class 'pandas.core.frame.DataFrame'>
Index: 27247 entries, 1 to 34856
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Postcode       27246 non-null  float64
 1   Bedroom2       27247 non-null  float64
 2   Bathroom       27247 non-null  float64
 3   Car            20423 non-null  float64
 4   Landsize       17982 non-null  float64
 5   BuildingArea   10656 non-null  float64
 6   YearBuilt      12084 non-null  float64
 7   CouncilArea    27244 non-null  object
 8   Lattitude      20993 non-null  float64
 9   Longtitude     20993 non-null  float64
 10  Regionname     27244 non-null  object
 11  Propertycount  27244 non-null  float64
dtypes: float64(10), object(2)
memory usage: 3.7+ MB

In [84]:
data1=data1.dropna(axis=0)
data1

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra City Council,-37.80720,144.99410,Northern Metropolitan,4019.0
11,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra City Council,-37.80240,144.99930,Northern Metropolitan,4019.0
14,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra City Council,-37.80600,144.99540,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34847,Wollert,27 Birchmore Rd,3,h,500000.0,PI,Ray,24/02/2018,25.5,3750.0,...,2.0,2.0,383.0,118.0,2016.0,Whittlesea City Council,-37.61940,145.03951,Northern Metropolitan,2940.0
34849,Wollert,35 Kingscote Wy,3,h,570000.0,SP,RW,24/02/2018,25.5,3750.0,...,2.0,2.0,404.0,158.0,2012.0,Whittlesea City Council,-37.61031,145.03393,Northern Metropolitan,2940.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [108]:
data1.reset_index(drop=True)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
1,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
2,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra City Council,-37.80720,144.99410,Northern Metropolitan,4019.0
3,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra City Council,-37.80240,144.99930,Northern Metropolitan,4019.0
4,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra City Council,-37.80600,144.99540,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8882,Wollert,27 Birchmore Rd,3,h,500000.0,PI,Ray,24/02/2018,25.5,3750.0,...,2.0,2.0,383.0,118.0,2016.0,Whittlesea City Council,-37.61940,145.03951,Northern Metropolitan,2940.0
8883,Wollert,35 Kingscote Wy,3,h,570000.0,SP,RW,24/02/2018,25.5,3750.0,...,2.0,2.0,404.0,158.0,2012.0,Whittlesea City Council,-37.61031,145.03393,Northern Metropolitan,2940.0
8884,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
8885,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
8886,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [109]:
data1.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,8887.000000,8.887000e+03,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000
mean,3.098909,1.092902e+06,11.199887,3111.662653,3.078204,1.646450,1.692247,523.480365,149.309477,1965.753348,-37.804501,144.991393,7475.940137
std,0.963786,6.793819e+05,6.813402,112.614268,0.966269,0.721611,0.975464,1061.324228,87.925580,37.040876,0.090549,0.118919,4375.024364
min,1.000000,1.310000e+05,0.000000,3000.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1196.000000,-38.174360,144.423790,249.000000
25%,2.000000,6.410000e+05,6.400000,3044.000000,2.000000,1.000000,1.000000,212.000000,100.000000,1945.000000,-37.858560,144.920000,4382.500000
50%,3.000000,9.000000e+05,10.200000,3084.000000,3.000000,2.000000,2.000000,478.000000,132.000000,1970.000000,-37.798700,144.998500,6567.000000
75%,4.000000,1.345000e+06,13.900000,3150.000000,4.000000,2.000000,2.000000,652.000000,180.000000,2000.000000,-37.748945,145.064560,10331.000000
max,12.000000,9.000000e+06,47.400000,3977.000000,12.000000,9.000000,10.000000,42800.000000,3112.000000,2019.000000,-37.407200,145.526350,21650.000000

#### 3. Show in a table, how Bedroom2 and landsize affect the price of the house.

#### 4.Also, show how BuildingArea and Yearbuit affect the   price of the house

In [110]:
numeric_data = data1.select_dtypes(include=['float64', 'int64'])
correlation_matrix = numeric_data.corr(method='pearson')
correlation_matrix

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
Rooms,1.000000,0.475074,0.276585,0.084236,0.964465,0.624070,0.401423,0.101158,0.606738,0.006935,0.018758,0.083016,-0.082797
Price,0.475074,1.000000,-0.231212,0.046033,0.460880,0.463501,0.209464,0.058375,0.507284,-0.313664,-0.224255,0.212174,-0.059720
Distance,0.276585,-0.231212,1.000000,0.489537,0.283460,0.122132,0.259374,0.138559,0.135509,0.313383,-0.055317,0.163941,-0.003247
Postcode,0.084236,0.046033,0.489537,1.000000,0.087286,0.111617,0.055531,0.069623,0.077091,0.089913,-0.195081,0.358005,0.032758
Bedroom2,0.964465,0.460880,0.283460,0.087286,1.000000,0.626493,0.405570,0.101035,0.595299,0.016310,0.022745,0.082671,-0.081392
Bathroom,0.624070,0.463501,0.122132,0.111617,0.626493,1.000000,0.310962,0.075939,0.553855,0.192914,-0.041859,0.109268,-0.058324
Car,0.401423,0.209464,0.259374,0.055531,0.405570,0.310962,1.000000,0.123498,0.317593,0.139255,0.015139,0.035589,-0.031285
Landsize,0.101158,0.058375,0.138559,0.069623,0.101035,0.075939,0.123498,1.000000,0.083229,0.037753,0.042484,-0.008196,-0.032548
BuildingArea,0.606738,0.507284,0.135509,0.077091,0.595299,0.553855,0.317593,0.083229,1.000000,0.059936,-0.034626,0.097635,-0.059024
YearBuilt,0.006935,-0.313664,0.313383,0.089913,0.016310,0.192914,0.139255,0.037753,0.059936,1.000000,0.100030,-0.026886,0.017224
Lattitude,0.018758,-0.224255,-0.055317,-0.195081,0.022745,-0.041859,0.015139,0.042484,-0.034626,0.100030,1.000000,-0.345797,0.029793
Longtitude,0.083016,0.212174,0.163941,0.358005,0.082671,0.109268,0.035589,-0.008196,0.097635,-0.026886,-0.345797,1.000000,0.026359
Propertycount,-0.082797,-0.059720,-0.003247,0.032758,-0.081392,-0.058324,-0.031285,-0.032548,-0.059024,0.017224,0.029793,0.026359,1.000000

#### 5. In table1, show the sum and median of the price of house based on Bedroom2.

In [113]:
data1.groupby('Bedroom2')[['Price']].agg(['sum', 'median'])

                 Price
                   sum     median
Bedroom2
0.0       5.910000e+06   830000.0
1.0       1.492352e+08   380250.0
2.0       1.493080e+09   680000.0
3.0       3.995655e+09   908000.0
4.0       3.043764e+09  1217000.0
5.0       9.007825e+08  1620000.0
6.0       1.056910e+08  1845000.0
7.0       9.502000e+06  1950000.0
8.0       1.511000e+06   755500.0
9.0       4.461000e+06   760000.0
10.0      2.315000e+06  2315000.0
12.0      7.100000e+05   710000.0